/* ----- gearal ----- */
:root{
    --cor-background-cabecalho: rgb(243, 3, 3);
    --cor-h1: rgb(179 178 165);
    --cor-fundo-tipos: rgb(204, 204, 204);
    --cor-fundo-tipos-selecionado: rgb(201, 4, 4);
    --cor-fundo-botao-selecionado: rgb(117, 101, 101);
}

/* ----- cabeçalho ----- */
header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 100%;
    background-color: var(--cor-background-cabecalho);

}

    header h1{
        font-size: 20px;
        font-weight: 700;
        font-family: 'Alumni Sans Collegiate One', sans-serif;
        font-family: 'Righteous', sans-serif;
        font-family: 'Roboto', sans-serif;
        text-shadow: 1px 1px 1px rgb(221, 86, 86);
        color: var(--cor-h1);
    }


    nav{
        width: 130px;
        position: absolute;
        bottom: 3px;
        display: flex;
        align-items: center;
        /* justify-content: left; */
        z-index: 2;
    }

        .opcoesTipos{
            margin-right: 10px;
        }

            .opcoesTipos p{
                background-color: var(--cor-fundo-tipos);
                display: flex;
                align-items: center;
                justify-content: left;
                width: 75px;
                position: relative;
            }

    .opcoesTipos p ion-icon{
        position: absolute;
        right: 0;
    }

        .opcoesTipos p{
            border: outset;
        }

        nav button{
            position: absolute;
            left: 85px;
            border: outset;
        }

        nav button:hover{
            background-color: var(--cor-fundo-botao-selecionado);
            border-color: var(--cor-fundo-botao-selecionado);
        }

        .tipos{   
            background-color: var(--cor-fundo-tipos);
            box-shadow: 1px 1px 1px var(--cor-fundo-tipos);
            width: 75px;
            display: none;

        }

        .tipos.ativado{
            position: absolute;
            display: block;
        }

        .opcoesTipos p:hover{
            background-color: var(--cor-fundo-tipos-selecionado);
            border-color: var(--cor-fundo-tipos-selecionado)
        }

/* ----- principal ----- */
main{
    position: relative;
}

article{
    position: absolute;
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

    .caixaPokemon{
        display: flex;
        align-items: center;
        flex-direction: column;
        border: outset;
        margin-right: 3px;
        margin-bottom: 3px;
        width: 100px;
    }

    article img{
        width: 75px;
        height: 75px;
    }

/* -----  rodapé   ----- */