/* ----- gearal ----- */
:root{
    --cor-background-cabecalho: rgb(0, 141, 184);
    --cor-h1: rgb(179 178 165);
    --cor-fundo-tipos: rgb(204, 204, 204);
    --cor-fundo-tipos-selecionado: rgb(131, 131, 131);
    --cor-fundo-botao-selecionado: rgb(117, 101, 101);
    --cor-de-fundo-caixa: rgb(255, 255, 255, 0.5);
    --cor-de-fundo-body: rgb(255, 204, 1, 0);
    --cor-de-borda: rgb(23, 40, 94);
}

body{
    background-image: url('../imagens/wallpaper-56.jpg');
    background-position: center; 
    background-size: cover;
    background-attachment: fixed;
    /* background-color: var(--cor-de-fundo-body); */
    /* border:outset 10px var(--cor-de-borda); */
    /* background-attachment: fixed; */
    /* background-repeat: no-repeat; */
}

/* ----- cabeçalho ----- */
header{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: auto;
    background-color: var(--cor-background-cabecalho);
    border: outset 10px var(--cor-background-cabecalho);

}


    .qtDePokemonsParaExibir{
        display: flex;
        flex-direction: column;
        /* background-color: aqua; */
        align-items: center;
        justify-content: center;
        margin-right: 0;
        /* border: outset; */
        margin-bottom: 5px;
    }

        .qtDePokemonsParaExibir p{
            font-size: 21px;
            color: #FFCC01;
            text-shadow: 4px 4px 0px #3560AD;
            font-weight: 700;
        }

        .qtDePokemonsParaExibir input{
            width: 80px;
            border: none;
            /* box-shadow: 2px 2px 4px rgb(1, 1, 1); */
            
        }

        .qtDePokemonsParaExibir button{
            border: outset;
        }
        .qtDePokemonsParaExibir button:hover{
            background-color: var(--cor-fundo-botao-selecionado);
            border-color: var(--cor-fundo-botao-selecionado);
        }
        

    header img{
        width: 300px;
    }


    
/* ----- principal ----- */
main{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url('/imagens/wallpaper-56.jpg');
    background-position: center;
    background-attachment: fixed; */
    /* background-size: cover; */
}


nav{
    width: 165px;
    box-sizing: content-box;
    position: relative;
    top: 10px;
    display: flex;
    align-items: center;
    z-index: 2;
}


    .filtro{
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .filtro span{
            display: flex;
            align-items: center;
            justify-content: center;
        }

    .opcoesTipos{
        /* display: f   lex; */
        /* align-items: center; */
        /* justify-content: center; */
        /* margin-right: 10px; */
    }

        .elementoSelecionado{
            width: 100px
        }

        .opcoesTipos p{
            background-color: var(--cor-fundo-tipos);
            display: flex;
            align-items: center;
            justify-content: left;
            width: 110px;
            position: relative;
        }

.opcoesTipos p ion-icon{
    position: absolute;
    right: 0;        
}

    .opcoesTipos p{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0;
        border: outset;
    }

    nav button{
        position: absolute;
        right: 0px;
        border: outset;
    }

    nav button:hover{
        background-color: var(--cor-fundo-botao-selecionado);
        border-color: var(--cor-fundo-botao-selecionado);
    }

    .tipos{   
        background-color: var(--cor-fundo-tipos);
        box-shadow: 1px 1px 1px var(--cor-fundo-tipos);
        width: 75px;
        display: none;

    }

    .tipos.ativado{
        position: absolute;
        display: block;
    }

    .opcoesTipos p:hover{
        background-color: var(--cor-fundo-tipos-selecionado);
        border-color: var(--cor-fundo-tipos-selecionado)
    }



article{
    /* position: absolute; */
    margin-top: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

    .caixaPokemon{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border: outset;
        margin-right: 3px;
        margin-bottom: 3px;
        width: 120px;
        height: 120px;
        background-color: var(--cor-de-fundo-caixa);
    }

    article img{
        width: 75px;
        height: 75px;
    }

    .ocultar{
        display: none;
    }

@media (max-width: 465px) {
    .qtDePokemonsParaExibir{
        position: absolute;
        bottom: 0;
    }
    
    .qtDePokemonsParaExibir p{
        font-size: 15px;
    }
    header img{
        position: absolute;
        top: 20px;
        width: 200px;
    }


    
}


/* -----  rodapé   ----- */